body {
    margin: 0;
    background-color: lightblue
}

h1 {
    font: 2em Courier, sans-serif;
    margin: 0px 0px 20px 10px;
    padding: .3em;}

header {
    background-color: burlywood;
    text-align: center;
}

nav {
    background-color: darkseagreen;
    border-radius: 5px;
    margin: 0px 20px 20px 20px;
    padding: .5em;
    text-align: center;
}

a {
    color: #9d3545;
    display: inline-block;
    font: 1em sans-serif;
    font-weight: bold;
    margin: 0px 5px;
    padding: .5em;
    text-decoration: none;
}

nav a:hover {
    background-color: darkgreen;
    border-radius: 5px;   
    color: antiquewhite;    
    transition: .3s;
    
}

#contenedor {
    border: 4px #9d3545 solid ;
    border-radius: 10px;    
    margin: 0px 20px;
    padding: 20px;
}

